Create SINR-TBS Mapping

https://www.researchgate.net/publication/308868405_DL_performance_evaluation_of_a_combined_cell_in_LTE_network

In [2]:
from IPython.display import Image
  
# get the image
Image(url="images/SINR-TBS.JPG", width=600, height=300)

In [3]:
from IPython.display import Image
  
# get the image
Image(url="images/SINR-TBS-lin.JPG", width=600, height=300)

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
tbs1=np.linspace(10,50,6)
tbs2=np.linspace(55,100,5)
tbs3=np.linspace(105,180,5)
tbs4=np.linspace(200,320,5)
tbs5=np.linspace(350,460,4)
tbs6=np.linspace(500,640,4)
tbs7=np.linspace(680,800,4)
tbs8=np.linspace(850,980,4)
tbs9=np.linspace(1025,1140,4)

In [6]:
tbs1=np.linspace(10,50,6*2)
tbs2=np.linspace(55,100,5*2)
tbs3=np.linspace(105,180,5*2)
tbs4=np.linspace(200,320,5*2)
tbs5=np.linspace(350,460,4*2)
tbs6=np.linspace(500,640,4*2)
tbs7=np.linspace(680,800,4*2)
tbs8=np.linspace(850,980,4*2)
tbs9=np.linspace(1025,1140,4*2)

In [17]:
sinr=np.arange(-10,31,0.5)

In [18]:
tbs=np.append(tbs1,tbs2)
tbs=np.append(tbs,tbs3)
tbs=np.append(tbs,tbs4)
tbs=np.append(tbs,tbs5)
tbs=np.append(tbs,tbs6)
tbs=np.append(tbs,tbs7)
tbs=np.append(tbs,tbs8)
tbs=np.append(tbs,tbs9)

In [19]:
sinr_tbs= pd.DataFrame(data=np.round(tbs), index=sinr, columns=None, dtype=None, copy=None)
sinr_tbs= sinr_tbs.rename({0: 'tbs'}, axis=1)

In [20]:
sinr_tbs

          tbs
-10.0    10.0
-9.5     14.0
-9.0     17.0
-8.5     21.0
-8.0     25.0
...       ...
 28.5  1074.0
 29.0  1091.0
 29.5  1107.0
 30.0  1124.0
 30.5  1140.0

[82 rows x 1 columns]

TBS/PRB -> TBS/PRBP (for scheduling) -> for 1 ms

In [21]:
sinr_tbs['tbs']=sinr_tbs['tbs']*2

In [23]:
sinr_tbs.to_csv('sinr-tbs-mapping2.csv')