Create SINR-TBS Mapping

https://www.researchgate.net/publication/308868405_DL_performance_evaluation_of_a_combined_cell_in_LTE_network

In [6]:
from IPython.display import Image
  
# get the image
Image(url="images/SINR-TBS.JPG", width=600, height=300)

In [13]:
from IPython.display import Image
  
# get the image
Image(url="images/SINR-TBS-lin.JPG", width=600, height=300)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
tbs1=np.linspace(10,50,6)
tbs2=np.linspace(55,100,5)
tbs3=np.linspace(105,180,5)
tbs4=np.linspace(200,320,5)
tbs5=np.linspace(350,460,4)
tbs6=np.linspace(500,640,4)
tbs7=np.linspace(680,800,4)
tbs8=np.linspace(850,980,4)
tbs9=np.linspace(1025,1140,4)

In [4]:
tbs1=np.linspace(10,50,(6-1)*2+1)
tbs2=np.linspace(55,100,(5-1)*2+1)
tbs3=np.linspace(105,180,(5-1)*2+1)
tbs4=np.linspace(200,320,(5-1)*2+1)
tbs5=np.linspace(350,460,(4*2)
tbs6=np.linspace(500,640,4*2)
tbs7=np.linspace(680,800,4*2)
tbs8=np.linspace(850,980,4*2)
tbs9=np.linspace(1025,1140,4*2)

In [5]:
sinr=np.arange(-10,31)

In [6]:
tbs=np.append(tbs1,tbs2)
tbs=np.append(tbs,tbs3)
tbs=np.append(tbs,tbs4)
tbs=np.append(tbs,tbs5)
tbs=np.append(tbs,tbs6)
tbs=np.append(tbs,tbs7)
tbs=np.append(tbs,tbs8)
tbs=np.append(tbs,tbs9)

In [7]:
tbs

array([  10.        ,   13.63636364,   17.27272727,   20.90909091,
         24.54545455,   28.18181818,   31.81818182,   35.45454545,
         39.09090909,   42.72727273,   46.36363636,   50.        ,
         55.        ,   60.        ,   65.        ,   70.        ,
         75.        ,   80.        ,   85.        ,   90.        ,
         95.        ,  100.        ,  105.        ,  113.33333333,
        121.66666667,  130.        ,  138.33333333,  146.66666667,
        155.        ,  163.33333333,  171.66666667,  180.        ,
        200.        ,  213.33333333,  226.66666667,  240.        ,
        253.33333333,  266.66666667,  280.        ,  293.33333333,
        306.66666667,  320.        ,  350.        ,  365.71428571,
        381.42857143,  397.14285714,  412.85714286,  428.57142857,
        444.28571429,  460.        ,  500.        ,  520.        ,
        540.        ,  560.        ,  580.        ,  600.        ,
        620.        ,  640.        ,  680.        ,  697.14285714,
        714.28571429,  731.42857143,  748.57142857,  765.71428571,
        782.85714286,  800.        ,  850.        ,  868.57142857,
        887.14285714,  905.71428571,  924.28571429,  942.85714286,
        961.42857143,  980.        , 1025.        , 1041.42857143,
       1057.85714286, 1074.28571429, 1090.71428571, 1107.14285714,
       1123.57142857, 1140.        ])

In [63]:
sinr_tbs= pd.DataFrame(data=tbs, index=sinr, columns=None, dtype=None, copy=None)
sinr_tbs= sinr_tbs.rename({0: 'tbs'}, axis=1)

In [64]:
sinr_tbs

             tbs
-10    10.000000
-9     18.000000
-8     26.000000
-7     34.000000
-6     42.000000
-5     50.000000
-4     55.000000
-3     66.250000
-2     77.500000
-1     88.750000
 0    100.000000
 1    105.000000
 2    123.750000
 3    142.500000
 4    161.250000
 5    180.000000
 6    200.000000
 7    230.000000
 8    260.000000
 9    290.000000
 10   320.000000
 11   350.000000
 12   386.666667
 13   423.333333
 14   460.000000
 15   500.000000
 16   546.666667
 17   593.333333
 18   640.000000
 19   680.000000
 20   720.000000
 21   760.000000
 22   800.000000
 23   850.000000
 24   893.333333
 25   936.666667
 26   980.000000
 27  1025.000000
 28  1063.333333
 29  1101.666667
 30  1140.000000

In [66]:
sinr_tbs.to_csv('Data/sinr-tbs-mapping.csv')